---
import LayoutIndex  from '../layouts/layout.index.astro'

import Header from '../isles/header.astro'
import Main from '../isles/main.astro'
import Footer from '../isles/footer.astro'

import { cx, css } from '../../styled-system/css'
import { container } from '../../styled-system/patterns'

---

<LayoutIndex>
	
	<div class={ 
			cx( 
				container(), 
				css({ 
					width: { 
						xsm: '100%', 
						sm: '32%' 
					}, 
					backgroundColor: 'white', 
					marginTop: { 
						xsm: '0px', 
						lg: '50px' 
					} 
				}) 
			)}
	>
		<Header />
		<Main />
		<Footer/>
	</div>

</LayoutIndex>
